nav.navbar.navbar-inverse
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/') Toudoum
    ul.nav.navbar-nav
      li
        a(href='/users') users
      li
        a(href='/todos') todos
      li
        a(href='/teams') team list
      li
        a(href='/teams/todos') team todos
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/sessions') connexion
