extends ../layout

block content

  div.col-md-6.col-md-offset-3
    section.panel.panel-default
      article.panel-heading Voici la liste des utilisateurs
      article.panel-body
        ul.list-group
          each user in users
            li.list-group-item #{user.pseudo}
